.lead {
    display: flex;
    flex-direction: column;
    max-width: 984px;
    margin: 56px auto 0;
    padding: 0 148px 0;
    align-items: center;
    box-sizing: content-box;
}

@media (max-width: 1279px) {
    .lead {
        margin: 48px auto 0;
        padding: 0 48px 0;
    }
}

@media (max-width: 1023px) {
    .lead {
        padding: 0;
    }
}

@media (max-width: 767px) {
    .lead {
        padding: 0 2px 0;
    }
}