.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1184px;
    margin: 92px auto 0;
    padding: 0 48px 24px;
}

@media (max-width: 1023px) {
    .footer {
        margin: 88px auto 0;
        padding: 0 24px 24px;
    }
}

@media (max-width: 767px) {
    .footer {
        width: calc(100% - 134px);
        flex-direction: column;
        margin: 64px 118px 0 16px;
        padding: 0 0 24px 0;
    }
}